<div class="shadow fixedHeader">
    <div class="block">
        <img width="200" height="64" src="../../assets/other.png">
    </div>
</div>

<div class="container1">
    
</div>
<div class="container">
<div>We are</div>
</div>
<div class="container">

<div>a Creative Collective.</div>
</div>
<div class="container">

<div>We are</div>

</div>
<div class="container">

<div>Listeners</div>
</div>
<div class="container">

<div>Problems Solvers</div>
</div>
<div class="container">
<div>Developers</div>
</div>
<div class="container">
<div>Designers</div>
</div>
<div class="container">

<div>Architects</div>
</div>
<div class="container">
<div>Engineers</div>
</div>
<div class="container">
<div>And</div>
</div>
<div class="container">
<div> Artists.</div>
</div>
<div class="container">
<div> We are</div>
</div>
<div class="container">
<div>Obsessed with</div>
</div>
<div class="container">
<div>The Traditions of Creating and Making.</div>
</div>
<div class="container">
<div> We are</div>
</div>
<div class="container">
<div> Devoted to Excellence.</div>
</div>
<div class="container">
<div> We</div>
</div>
<div class="container">
<div> Collaborate with Customer's Team.</div>
</div>
<div class="container">
<div> We are</div>
</div>
<div class="container">
<div> Incredibly Curious.</div>
</div>
<div class="container">
<div> We work for joy.</div>
</div>

<div class="lastContainer1">
<div class="btn-container"><a href="#1" class="btn btn-white  btn-animated">Customer Relations</a></div>
<!--    <div class="btn-container"><a href="#2" class=" btn btn-white btn-animated">become a partner</a></div>-->
<div class="btn-container"><a href="#3" class="btn btn-white  btn-animated">Join our Team</a></div>
</div>


<div class="fixedFooter ">
<div>
    Copyright 2021 -   
          <span id="copyright">    
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>   
         </span>        by Otherwise Software +. All Rights Reserved.
</div>
</div>
